/* !========= navbar start =============  */

.header { 
    width: 1200px; 
    height: 100px; 
    margin: 40px auto 0; 
    background-color: white; 
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    box-shadow: 3px 0px 24px -7px black; 
  } 
   
  .header__logo { 
    display: flex; 
    align-items: center; 
    letter-spacing: 1px; 
    color: #353535; 
  } 
   
  .header__logo img { 
    width: 90px; 
  } 
   
  .header__center ul { 
    display: flex; 
    justify-content: space-between; 
    width: 400px; 
    list-style-type: none; 
  } 
   
  .search-box { 
    background: #e2ede9; 
    padding: 16px 0; 
    height: 15px; 
    border-radius: 40px; 
    display: flex; 
    align-items: center; 
  } 
   
  .search-btn { 
    color: #022417; 
    float: right; 
    width: 33px; 
    height: 33px; 
    border-radius: 50%; 
    background: #e2ede9; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-decoration: none; 
  } 
   
  .search-box:hover > .search-txt { 
    width: 180px; 
    padding: 0 6px; 
  } 
   
  .search-box:hover > .search-btn { 
    background-color: #033723a3; 
  } 
   
  .search-txt { 
    border: none; 
    background: none; 
    outline: none; 
    padding: 0; 
    color: rgb(6, 6, 6); 
    font-size: 16px; 
    width: 0px; 
    transition: 0.4s; 
    line-height: 40px; 
  } 
   
  #open-admin { 
    width: 30px; 
    height: 30px; 
    background-size: 80% 80%; 
    border: 1.5px solid black; 
    border-radius: 50%; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-image: url(https://icons.veryicon.com/png/o/miscellaneous/yuanql/icon-admin.png); 
  } 

  
   
  /* ? =============NAVBAR END========== */